.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col-4 {
    flex: 0 0 23%;
    box-sizing: border-box;
    margin-top: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

input, textarea, button {

    margin-bottom: 10px;
}

.card {
    margin-bottom: 20px;
}
