{% extends 'base.html' %}

{% block main %}
<div class="d-flex justify-content-center">
    <h2>Ваши личные задачи</h2>
</div>

<!-- Контейнер для карточек -->
<div class="row">
    {% for task in tasks %}
    <div class="col-4 mb-4">
        <div class="card text-center" style="height: 100%; max-height: 500px;">
            <div class="card-body">
                {% if edit_task_id == task.id|stringformat:"s" %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ task.id }}">
                    <div class="form-group">
                        <input type="text" name="title" value="{{ task.title }}" class="form-control mb-2" required>
                        <textarea name="description" class="form-control mb-2" required>{{ task.description }}</textarea>
                        <input type="date" name="due_date" value="{{ task.due_date|date:'Y-m-d' }}" class="form-control mb-2" required>
                        <button type="submit" name="save_task" class="btn btn-success">Сохранить</button>
                        <a href="{% url 'main' %}" class="btn btn-secondary">Отмена</a>
                    </div>
                </form>
                {% else %}
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.description }}</p>
                <p class="card-text">
                    <small class="text-muted">Создано: {{ task.created_at }}</small><br>
                    <small class="text-muted">Срок выполнения: {{ task.due_date }}</small>
                </p>
                <hr>
                <small class="text-muted">Завершена ли?</small>

                <form action="{% url 'mark_task_completed' task.id %}" method="POST">
                    {% csrf_token %}
                    <input type="checkbox" name="completed" {% if task.is_completed %}checked{% endif %} onchange="this.form.submit()"/>
                </form>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="edit_task_id" value="{{ task.id }}">
                    <button type="submit" class="btn btn-primary" style="width: 70%;">Редактировать задачу</button>
                </form>
                {% endif %}

                <hr>

                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" style="width: 165px;">Удалить задачу</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
